.MainDash{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* Responsive */
@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content: flex-start;
        margin-top: 2rem;
    }
  }
   /* For Mobile View */
@media screen and (max-width: 768px) {
    .MainDash{
        align-items: center;
    }
  }